/* --------------------------------------------------------------------------
1. Documentation Content
-------------------------------------------------------------------------- */
.content {
  .content-1 {
    height: 129px;
    box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.35);

    img {
      height: 55px;
    }
    h6 {
      float: right;
      margin-right: 180px;
      margin-top: -2px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
    }

    p {
      float: right;
      margin-top: -28px;
      margin-right: 4px;
      margin-right: 80px;

      color: #afafaf;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .content-2 {
    height: 129px;
    box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.35);

    img {
      height: 55px;
    }
    h6 {
      float: right;
      margin-right: 106px;
      margin-top: -2px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
    }

    p {
      float: right;
      margin-top: -28px;
      margin-right: 4px;
      margin-right: 80px;

      color: #afafaf;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .content-3 {
    height: 129px;
    box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.35);

    img {
      height: 55px;
    }
    h6 {
      float: right;
      margin-right: 134px;
      margin-top: -2px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
    }

    p {
      float: right;
      margin-top: -28px;
      margin-right: 4px;
      margin-right: 80px;

      color: #afafaf;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .content-4 {
    height: 129px;
    box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.35);

    img {
      height: 55px;
    }
    h6 {
      float: right;
      margin-right: 146px;
      margin-top: -2px;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
    }

    p {
      float: right;
      margin-top: -28px;
      margin-right: 4px;
      margin-right: 80px;

      color: #afafaf;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .download-pdf {
    height: 126px;

    img {
      float: left;
    }

    .title-btn {
      float: left;
      margin-left: 28px;
      margin-top: -2px;

      h6 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      }
      a {
        margin-top: 20px;
      }
    }

    .button-edit-del {
      float: right;
      margin-right: 14px;
    }
  }
}
